.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 114px;
    align-items: center;
    background-color: #FFFFFF;
}
.menu-items{
    display:flex;
    gap: 40px;
    list-style-type: none;
}

.brandName{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.24;
    color: #1A1A1A;
    font-weight: bold;
}

.button-Div{
    background: #FF5733;
    border-radius: 6px;
    width: 108.47;
    height: 44px;
    color: white;
    border: 1px solid #FF5733;
    opacity: 100%;
}
.button-Div a{
     color:black
    text-decoration: none;
}